.header {
}
.container {
}
.header__content {
}
.header__auth {
}
.header__auth-link {
}
.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: block;
    max-width: 350px;
}
.logo__image {
    max-width: inherit;
}
.header__menu {
    display: flex;
}
.header__menu-item {
}
.link-other-page {
}
.link-other-page__image {
    width: 100px;
    height: 100px;
}
.link-other-page__title {
}